@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --font-color: black;
    --fs-numbers: 5.5em;
    --fs-subs: 1.2em;
    --fs-goal: 2.5em;
    --fs-nav: 2.2em;
    --menu-color: #f0f0f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: #f0f0f0;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('media/tree-white-bak.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 0em -20em; */

    color: var(--font-color);
    transition: 300ms;
}

.serif {
    font-family: 'Source Serif Pro', sans-serif;
}

.dark {
    --font-color: white !important;
    --menu-color: #202020;
}

.loadingscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c2c2c;

    display: grid;
    place-items: center;
    z-index: 100;
    transition: opacity 500ms;
}

.loadingscreen svg {
    width: 3em;
    animation: loading 1s linear infinite;
    fill: white;
}

nav {
    position: absolute;
    top: 3em;
    left: 2.3em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

nav h1 {
    transform: rotate(-90deg);
    font-weight: 300;
    font-size: var(--fs-nav);
    padding-bottom: 0.15em;
}

.menubars {
    display: none;
    width: 1em;
    cursor: pointer;
    fill: var(--font-color);
}

.linebreak {
    width: 100%;
    background: var(--font-color);
    height: 1px;
}

.links {
    text-align: center;
    line-height: 1.6;
}

.links p {
    cursor: pointer;
    transition: filter 200ms;
    font-weight: 300;
    font-size: 1.1em;
}

.links p:hover {
    filter: brightness(70%);
}

.cross {
    display: none;
    position: absolute;
    width: 0.5em;
    fill: var(--font-color);
}

.show {
    left: 0 !important;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13em;

    text-align: center;
    margin-top: 6.5em;
}

.counter {
    display: flex;
    justify-content: space-between;
    width: min(45em, 90%);
}

.counter > * {
    width: 100%;
}

.goal p {
    font-weight: 300;
    font-size: var(--fs-goal);
}

.goal h3 {
    font-weight: 500;
    font-size: var(--fs-goal);
}

.block {
    line-height: 3.5em;
}

.block h2 {
    font-size: var(--fs-numbers);
    font-weight: 300;
}

.block p {
    font-size: var(--fs-subs);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media(max-width: 530px) {
    :root {
        --fs-numbers: 14vw;
        --fs-subs: 3.4vw;
        --fs-goal: 8vw;
        --fs-nav: 1.4em;
    }

    .block {
        line-height: 1;
    }

    .linebreak {
        display: none;
    }

    .menubars {
        display: inherit;
        margin-left: 1em;
        margin-top: 1em;
    }

    .links {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;

        font-size: 1.8em;
        background: var(--menu-color);
        padding-top: 5em;
        transition: left 400ms ease-in-out;
    }

    nav {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        top: inherit;
        left: inherit;
    }

    nav h1 {
        transform: rotate(0deg);
        margin-right: 1em;
        margin-top: 1em;
    }

    .cross{
        display: inherit;
        top: 0.8em;
        left: 0.6em;
        z-index: 105;
    }

    main {
        gap: 8em;
    }
}
